@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
body {
  font-family: "Poppins", sans-serif;
  position: absolute;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(198,198,224,1) 100%);
  top: 35%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  margin-bottom: 0px;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  margin-top: 5px;
}

.log {
  padding: 5px;
}

#login {
  border: 1px solid #2691d9;
  border-radius: 30px;
  width: 100px;
  background-color: #2691d9;
  color: #fff;
  padding: 7px 20px;
  margin-right: 5px;
}


#login:hover{
  cursor: pointer;
  width:35%;
  transition: .5s;
  border-color: #2691d9;
}
